body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color:rgba(0, 0, 0, 0.685);
}
h2, h3{
    text-align: center;
}
#login{
    background-color: #fffbf8;
    height: 95vh;
    width: 40vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
#inputForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
label{
    margin-left: 60px;
    font-size: 20px;
}
#inputForm > input{
    height: 40px;
    width: auto;
    padding-left: 20px;
    margin-left: 60px;
    margin-right: 60px;
}
.alternative{
    text-align: center;
    font-size: 15px;
}
button{
    height: 40px;
    width: 200px;
    background-color: blueviolet; 
    color: beige; 
    text-align: center;
    margin-left: 50px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#container{
    background-color: #fffbf8;
    height: 95vh;
    width: 90vw;
    color: beige;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

#header{
    height: 95vh;
    width: 15vw;
    background-color:rgba(0, 0, 0, 0.685);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color:beige;
}
#main{
    height: 95vh;
    width: 75vw;
    background-color: #fffbf8;
}
#main-container{
    height: 75vh;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    color: rgba(0, 0, 0, 0.74);
}
#card{
    cursor: pointer;
}
